[core]
	editor = nvim
[diff]
	tool = nvimdiff
	algorithm = histogram
[difftool]
	prompt = false
[push]
	autoSetupRemote = true
[commit]
	verbose = true
[branch]
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
	tool = nvimdiff
[mergetool]
	prompt = false
[init]
	defaultBranch = develop
[rebase]
	autosquash = true
[pull]
	ff = only
